{% extends 'base.html'%}
{% load bootstrap3 %}
{% load staticfiles %}
{% block content %}

  {{form.media}}

  <div class="col-lg-6 col-lg-offset-3 text-center" style='margin-top:20px;'>
   <div class="card-header">
<marquee direction='left' behavior="alternate" scrollamount="3"><h2><i class="em em-european_post_office"></i>!!Post something!!<i class="em em-european_post_office"></i></h2></marquee>
<div class="card-body">
  <form  action="{%url 'new_project'%}" method="POST" enctype="multipart/form-data">
    {%csrf_token%}

    {% bootstrap_form form%}
    <input type="submit" class="btn btn-primary btn-lg" value="Post">
  </form>


</div>
</div>
</div>




{% endblock %}
